EcoDomusPM/App_WebReferences/Product/Product1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Central.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Central.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3333/Central WCF/Product.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ProductDocumentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedByUserId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DocumentDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedByUserId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="ModifiedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDocumentDto" nillable="true" type="tns:ProductDocumentDto" />
</xs:schema>