EcoDomusPM/App_WebReferences/Attributes/Attributes1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EcoDomus.Data.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EcoDomus.Data.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/Attributes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfStage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Stage" nillable="true" type="tns:Stage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStage" nillable="true" type="tns:ArrayOfStage" />
  <xs:complexType name="Stage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="StageName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Stage" nillable="true" type="tns:Stage" />
</xs:schema>