EcoDomusPM/App_WebReferences/Attributes/Attributes110.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/Attributes.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" />
  <xs:complexType name="GetItemsResponseOfAttributeViewModelHdq3yl0Y">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GetItemsResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.App.Queries" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AttributeViewModel" Namespace="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfAttributeViewModel" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetItemsResponseOfAttributeViewModelHdq3yl0Y" nillable="true" type="tns:GetItemsResponseOfAttributeViewModelHdq3yl0Y" />
</xs:schema>