EcoDomusPM/App_WebReferences/Attributes/Attributes13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/Attributes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/Attributes.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Client.App" />
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/Attributes.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EcoDomus.UnitUtils" />
  <xs:complexType name="ArrayOfAttributeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeViewModel" nillable="true" type="tns:AttributeViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeViewModel" nillable="true" type="tns:ArrayOfAttributeViewModel" />
  <xs:complexType name="AttributeViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeId" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.App" minOccurs="0" name="AttributeType" type="q1:AttributeType" />
      <xs:element minOccurs="0" name="AttributeValueId" type="ser:guid" />
      <xs:element minOccurs="0" name="BasEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedOn" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Client.App" minOccurs="0" name="DataType" nillable="true" type="q2:DataType" />
      <xs:element minOccurs="0" name="DateTimeValue" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EcoDomus.UnitUtils" minOccurs="0" name="DisplayUnitType" nillable="true" type="q3:DisplayUnitType" />
      <xs:element minOccurs="0" name="DoubleValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="Group" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GroupId" type="ser:guid" />
      <xs:element minOccurs="0" name="GroupsOrder" type="xs:int" />
      <xs:element minOccurs="0" name="IntegerValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfileNameCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReadOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="SortPriority" type="xs:int" />
      <xs:element minOccurs="0" name="StageId" type="ser:guid" />
      <xs:element minOccurs="0" name="StageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AttributeViewModel" nillable="true" type="tns:AttributeViewModel" />
</xs:schema>