EcoDomusPM/App_WebReferences/Login/Login8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EcoDomus.Login" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EcoDomus.Login" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devservices.ecodomus.com/CentralPM/Login.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="LoginModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Application_flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="ClientSearchText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Language_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Language_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoginId" type="ser:guid" />
      <xs:element minOccurs="0" name="Login_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" type="ser:guid" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReturnIPaddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionInTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SessionOutTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StateId" type="ser:guid" />
      <xs:element minOccurs="0" name="SystemRole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="entityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="session_type" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginModel" nillable="true" type="tns:LoginModel" />
</xs:schema>