EcoDomusPM/App_WebReferences/ClientOrganization/ClientOrganization.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClientOrganization" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/ClientOrganization.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/ClientOrganization.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/ClientOrganization.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/ClientOrganization.svc?xsd=xsd3" />
    </xsd:schema> 
  </wsdl:types>
  <wsdl:message name="IClientOrganization_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetClientOrganization_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientOrganization" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetClientOrganization_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientOrganizationResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetunassignedOrganizations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetunassignedOrganizations" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetunassignedOrganizations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetunassignedOrganizationsResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetPrimaryContactInformationForEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimaryContactInformationForEmail" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetPrimaryContactInformationForEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPrimaryContactInformationForEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetRequestLetterForEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestLetterForEmail" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetRequestLetterForEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestLetterForEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_DeleteOrganizationClientSide_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizationClientSide" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_DeleteOrganizationClientSide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrganizationClientSideResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_InsertintoClientOrganizationLinkup_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertintoClientOrganizationLinkup" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_InsertintoClientOrganizationLinkup_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertintoClientOrganizationLinkupResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_UpdateintoClientOrganizationLinkup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateintoClientOrganizationLinkup" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_UpdateintoClientOrganizationLinkup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateintoClientOrganizationLinkupResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_UpdateintoClientOrganizationLinkupDeny_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateintoClientOrganizationLinkupDeny" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_UpdateintoClientOrganizationLinkupDeny_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateintoClientOrganizationLinkupDenyResponse" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetSenderContactInformationForEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSenderContactInformationForEmail" />
  </wsdl:message>
  <wsdl:message name="IClientOrganization_GetSenderContactInformationForEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSenderContactInformationForEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientOrganization">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/DoWork" message="tns:IClientOrganization_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/DoWorkResponse" message="tns:IClientOrganization_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientOrganization">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/GetClientOrganization" message="tns:IClientOrganization_GetClientOrganization_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/GetClientOrganizationResponse" message="tns:IClientOrganization_GetClientOrganization_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetunassignedOrganizations">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/GetunassignedOrganizations" message="tns:IClientOrganization_GetunassignedOrganizations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/GetunassignedOrganizationsResponse" message="tns:IClientOrganization_GetunassignedOrganizations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrimaryContactInformationForEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/GetPrimaryContactInformationForEmail" message="tns:IClientOrganization_GetPrimaryContactInformationForEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/GetPrimaryContactInformationForEmailResponse" message="tns:IClientOrganization_GetPrimaryContactInformationForEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRequestLetterForEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/GetRequestLetterForEmail" message="tns:IClientOrganization_GetRequestLetterForEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/GetRequestLetterForEmailResponse" message="tns:IClientOrganization_GetRequestLetterForEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganizationClientSide">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/DeleteOrganizationClientSide" message="tns:IClientOrganization_DeleteOrganizationClientSide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/DeleteOrganizationClientSideResponse" message="tns:IClientOrganization_DeleteOrganizationClientSide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertintoClientOrganizationLinkup">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/InsertintoClientOrganizationLinkup" message="tns:IClientOrganization_InsertintoClientOrganizationLinkup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/InsertintoClientOrganizationLinkupResponse" message="tns:IClientOrganization_InsertintoClientOrganizationLinkup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateintoClientOrganizationLinkup">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/UpdateintoClientOrganizationLinkup" message="tns:IClientOrganization_UpdateintoClientOrganizationLinkup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/UpdateintoClientOrganizationLinkupResponse" message="tns:IClientOrganization_UpdateintoClientOrganizationLinkup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateintoClientOrganizationLinkupDeny">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/UpdateintoClientOrganizationLinkupDeny" message="tns:IClientOrganization_UpdateintoClientOrganizationLinkupDeny_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/UpdateintoClientOrganizationLinkupDenyResponse" message="tns:IClientOrganization_UpdateintoClientOrganizationLinkupDeny_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSenderContactInformationForEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientOrganization/GetSenderContactInformationForEmail" message="tns:IClientOrganization_GetSenderContactInformationForEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientOrganization/GetSenderContactInformationForEmailResponse" message="tns:IClientOrganization_GetSenderContactInformationForEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientOrganization" type="tns:IClientOrganization">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientOrganization">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/GetClientOrganization" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetunassignedOrganizations">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/GetunassignedOrganizations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrimaryContactInformationForEmail">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/GetPrimaryContactInformationForEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRequestLetterForEmail">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/GetRequestLetterForEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrganizationClientSide">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/DeleteOrganizationClientSide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertintoClientOrganizationLinkup">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/InsertintoClientOrganizationLinkup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateintoClientOrganizationLinkup">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/UpdateintoClientOrganizationLinkup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateintoClientOrganizationLinkupDeny">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/UpdateintoClientOrganizationLinkupDeny" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSenderContactInformationForEmail">
      <soap:operation soapAction="http://tempuri.org/IClientOrganization/GetSenderContactInformationForEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientOrganization">
    <wsdl:port name="BasicHttpBinding_IClientOrganization" binding="tns:BasicHttpBinding_IClientOrganization">
      <soap:address location="http://localhost:4444/Client%20WCF/ClientOrganization.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>