EcoDomusPM/App_WebReferences/User/User15.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/CentralPM/User.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityId" type="ser:guid" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Created_by_userid" type="ser:guid" />
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityforRecentData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlagOrganizationUsers" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NavigateUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Old_Passward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OmniclassType" type="ser:guid" />
      <xs:element minOccurs="0" name="OrganizatioPrimaryUserId" type="ser:guid" />
      <xs:element minOccurs="0" name="Organization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrganizationId" type="ser:guid" />
      <xs:element minOccurs="0" name="Passward" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Postal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTextOrganization" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SearchTextUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StateId" type="ser:guid" />
      <xs:element minOccurs="0" name="SystemRoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="TimeZoneId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uniclass_id" type="ser:guid" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fk_viewer_id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
</xs:schema>