EcoDomusPM/App_WebReferences/Organization/Organization4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3333/Central WCF/Organization.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" />
  <xs:element name="Insert_Document_Type_for_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q1:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Document_Type_for_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="Insert_Document_Type_for_OrganizationResult" nillable="true" type="q2:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Document_Type_for_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q3:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Document_Type_for_OrganizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_organization_standards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q4:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_organization_standardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_organization_standardsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_custom_standard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q5:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_custom_standardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_custom_standardResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_custom_standard_details">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q6:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_custom_standard_detailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_custom_standard_detailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_custom_standard">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q7:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_custom_standardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_custom_standardResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Custom_Standard_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q8:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Custom_Standard_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Custom_Standard_DetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Custom_Standard_Details">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q9:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Custom_Standard_DetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Delete_Custom_Standard_DetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getCountryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q10:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getStateResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q11:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrganizationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOmniclassTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOmniclassTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOmniclassTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationType">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrganizationTypeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q12:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOranizationInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q13:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOranizationInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOranizationInformationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOranizationInformation_v1">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q14:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOranizationInformation_v1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOranizationInformation_v1Result" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOranizationPrimaryContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q15:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOranizationPrimaryContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOranizationPrimaryContactResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q16:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="InsertUpdateOrganizationResult" nillable="true" type="q17:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCityStateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q18:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertUpdateCityStateCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertUpdateCityStateCountryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCityStateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q19:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCityStateCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q20:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityStateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q21:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCityStateCountryResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientOrganization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q22:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientOrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClientOrganizationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetunassignedOrganizations">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q23:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetunassignedOrganizationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetunassignedOrganizationsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSessionDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q24:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserSessionDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUserSessionDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryContactofOrganizationForAssigningUserFacility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q25:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPrimaryContactofOrganizationForAssigningUserFacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPrimaryContactofOrganizationForAssigningUserFacilityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients_of_organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q26:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients_of_organizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClients_of_organizationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationPhases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q27:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrganizationPhasesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOrganizationPhasesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrganizationPhase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q28:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertOrganizationPhaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertOrganizationPhaseResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationPhases">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q29:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrganizationPhasesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_bind_entity_field_tree">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q30:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_bind_entity_field_treeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_bind_entity_field_treeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insrt_update_selected_phase_status">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="mdl" nillable="true" type="q31:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insrt_update_selected_phase_statusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Document_Type_for_Organization">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Ecodomus.Organization" minOccurs="0" name="objmodel" nillable="true" type="q32:OrganizationModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Document_Type_for_OrganizationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Document_Type_for_OrganizationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>