EcoDomusPM/App_WebReferences/Facility/Facility47.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/Facility.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDocumentItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DocumentItemModel" nillable="true" type="tns:DocumentItemModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocumentItemModel" nillable="true" type="tns:ArrayOfDocumentItemModel" />
  <xs:complexType name="DocumentItemModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentTypeId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="DocumentTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="FacilityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FilePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="RowId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="RowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentItemModel" nillable="true" type="tns:DocumentItemModel" />
</xs:schema>