EcoDomusPM/App_WebReferences/BIMModel/BIMModel4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/BIMModel.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="BIMModels">
    <xs:sequence>
      <xs:element minOccurs="0" name="Asset_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Asset_ids" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Assetidentifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Attribute_value" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DtViewpoint" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element ref="xs:schema" />
            <xs:any />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="Entity_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceedFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="External_asset_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="External_space_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File_id" type="ser:guid" />
      <xs:element minOccurs="0" name="File_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File_path" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="File_type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Filesize" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fk_facility_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Fk_master_file_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Fk_row_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Fk_type_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Fk_uom_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Flag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Location_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Masterflag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Model_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Navis_view_points" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="New_pk_view_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Orderby" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pageindex" type="xs:int" />
      <xs:element minOccurs="0" name="Pagesize" type="xs:int" />
      <xs:element minOccurs="0" name="Parent_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Pk_attribute_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Pk_file_Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pk_space_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Pk_view_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Positionx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Positiony" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Positionz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Search_by" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Search_criteria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Search_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="System_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Table_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tagnumnber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Targetx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Targety" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Targetz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uploaded_by" type="ser:guid" />
      <xs:element minOccurs="0" name="Uploaded_on" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Upx" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Upz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_id" type="ser:guid" />
      <xs:element minOccurs="0" name="View_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Width" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BIMModels" nillable="true" type="tns:BIMModels" />
  <xs:complexType name="ArrayOfBIMModels">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BIMModels" nillable="true" type="tns:BIMModels" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBIMModels" nillable="true" type="tns:ArrayOfBIMModels" />
</xs:schema>