EcoDomusPM/App_WebReferences/BIMModel/BIMModel46.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/BIMModel.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Client.App.Dtos" />
  <xs:complexType name="GetItemsResponseOfAssetDtozejrlKGr">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="GetItemsResponseOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Client.App.Queries" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="AssetDto" Namespace="http://schemas.datacontract.org/2004/07/Client.App.Dtos" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Client.App.Dtos" minOccurs="0" name="Items" nillable="true" type="q1:ArrayOfAssetDto" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetItemsResponseOfAssetDtozejrlKGr" nillable="true" type="tns:GetItemsResponseOfAssetDtozejrlKGr" />
</xs:schema>