EcoDomusPM/App_WebReferences/BIMModel/BIMModel42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://services.ecodomus.com/ClientPM/BIMModel.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAssetDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AssetDto" nillable="true" type="tns:AssetDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAssetDto" nillable="true" type="tns:ArrayOfAssetDto" />
  <xs:complexType name="AssetDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExternalSystemDataId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AssetDto" nillable="true" type="tns:AssetDto" />
</xs:schema>