EcoDomusPM/App_WebReferences/Weather/Weather.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Weather" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Weather.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Weather.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Weather.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Weather.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeather_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IWeather_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_InsertUpdateWeatherinformation_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdateWeatherinformation" />
  </wsdl:message>
  <wsdl:message name="IWeather_InsertUpdateWeatherinformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUpdateWeatherinformationResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_getWeatherstations_InputMessage">
    <wsdl:part name="parameters" element="tns:getWeatherstations" />
  </wsdl:message>
  <wsdl:message name="IWeather_getWeatherstations_OutputMessage">
    <wsdl:part name="parameters" element="tns:getWeatherstationsResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_DeleteWeatherstations_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeatherstations" />
  </wsdl:message>
  <wsdl:message name="IWeather_DeleteWeatherstations_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWeatherstationsResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeather">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/DoWork" message="tns:IWeather_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/DoWorkResponse" message="tns:IWeather_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateWeatherinformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/InsertUpdateWeatherinformation" message="tns:IWeather_InsertUpdateWeatherinformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/InsertUpdateWeatherinformationResponse" message="tns:IWeather_InsertUpdateWeatherinformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getWeatherstations">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/getWeatherstations" message="tns:IWeather_getWeatherstations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/getWeatherstationsResponse" message="tns:IWeather_getWeatherstations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWeatherstations">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/DeleteWeatherstations" message="tns:IWeather_DeleteWeatherstations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/DeleteWeatherstationsResponse" message="tns:IWeather_DeleteWeatherstations_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeather" type="tns:IWeather">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IWeather/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUpdateWeatherinformation">
      <soap:operation soapAction="http://tempuri.org/IWeather/InsertUpdateWeatherinformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWeatherstations">
      <soap:operation soapAction="http://tempuri.org/IWeather/getWeatherstations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWeatherstations">
      <soap:operation soapAction="http://tempuri.org/IWeather/DeleteWeatherstations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Weather">
    <wsdl:port name="BasicHttpBinding_IWeather" binding="tns:BasicHttpBinding_IWeather">
      <soap:address location="http://localhost:4444/Client%20WCF/Weather.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>