EcoDomusPM/App_WebReferences/Weather/Weather3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/Weather.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="WeatherModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Altitude_msl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data_provider_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Data_provider_url" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Latitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitude" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pk_facility_weather_station_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Searchtext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Station_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Station_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WeatherModel" nillable="true" type="tns:WeatherModel" />
</xs:schema>