EcoDomusPM/App_WebReferences/Inspections/Inspections.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Inspections" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Inspections.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Inspections.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Inspections.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/Inspections.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInspections_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IInspections_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IInspections_GetInspection_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInspection" />
  </wsdl:message>
  <wsdl:message name="IInspections_GetInspection_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="IInspections_Insert_Update_Inspection_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Update_Inspection" />
  </wsdl:message>
  <wsdl:message name="IInspections_Insert_Update_Inspection_OutputMessage">
    <wsdl:part name="parameters" element="tns:Insert_Update_InspectionResponse" />
  </wsdl:message>
  <wsdl:message name="IInspections_DeleteInspection_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInspection" />
  </wsdl:message>
  <wsdl:message name="IInspections_DeleteInspection_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteInspectionResponse" />
  </wsdl:message>
  <wsdl:message name="IInspections_proc_get_inspection_data_InputMessage">
    <wsdl:part name="parameters" element="tns:proc_get_inspection_data" />
  </wsdl:message>
  <wsdl:message name="IInspections_proc_get_inspection_data_OutputMessage">
    <wsdl:part name="parameters" element="tns:proc_get_inspection_dataResponse" />
  </wsdl:message>
  <wsdl:portType name="IInspections">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IInspections/DoWork" message="tns:IInspections_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInspections/DoWorkResponse" message="tns:IInspections_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInspection">
      <wsdl:input wsaw:Action="http://tempuri.org/IInspections/GetInspection" message="tns:IInspections_GetInspection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInspections/GetInspectionResponse" message="tns:IInspections_GetInspection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert_Update_Inspection">
      <wsdl:input wsaw:Action="http://tempuri.org/IInspections/Insert_Update_Inspection" message="tns:IInspections_Insert_Update_Inspection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInspections/Insert_Update_InspectionResponse" message="tns:IInspections_Insert_Update_Inspection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteInspection">
      <wsdl:input wsaw:Action="http://tempuri.org/IInspections/DeleteInspection" message="tns:IInspections_DeleteInspection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInspections/DeleteInspectionResponse" message="tns:IInspections_DeleteInspection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="proc_get_inspection_data">
      <wsdl:input wsaw:Action="http://tempuri.org/IInspections/proc_get_inspection_data" message="tns:IInspections_proc_get_inspection_data_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInspections/proc_get_inspection_dataResponse" message="tns:IInspections_proc_get_inspection_data_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInspections" type="tns:IInspections">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IInspections/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInspection">
      <soap:operation soapAction="http://tempuri.org/IInspections/GetInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert_Update_Inspection">
      <soap:operation soapAction="http://tempuri.org/IInspections/Insert_Update_Inspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteInspection">
      <soap:operation soapAction="http://tempuri.org/IInspections/DeleteInspection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="proc_get_inspection_data">
      <soap:operation soapAction="http://tempuri.org/IInspections/proc_get_inspection_data" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inspections">
    <wsdl:port name="BasicHttpBinding_IInspections" binding="tns:BasicHttpBinding_IInspections">
      <soap:address location="http://localhost:4444/Client%20WCF/Inspections.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>