EcoDomusPM/App_WebReferences/Contact/Contact13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/Contact.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ContactModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Created_by" type="ser:guid" />
      <xs:element minOccurs="0" name="Project_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Project_role_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Search_text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_id" type="ser:guid" />
      <xs:element minOccurs="0" name="User_project_id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ContactModel" nillable="true" type="tns:ContactModel" />
</xs:schema>