EcoDomusPM/App_WebReferences/Locations_bak/Locations1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/Locations.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" />
  <xs:element name="get_zones_for_project">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locobj_mdl" nillable="true" type="q1:LocationsModel" />
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_zones_for_projectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_zones_for_projectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetentityLocation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetentityLocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetentityLocationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Facility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q2:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_FacilityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q3:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_LocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_LocationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q4:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_LocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_LocationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Location">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q5:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_LocationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_LocationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Location_Facility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q6:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Location_FacilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Location_FacilityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FacilityName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q7:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FacilityNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_FacilityNameResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FloorProfile_byID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q8:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_FloorProfile_byIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_FloorProfile_byIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insert_update_floor_profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locobj_mdl" nillable="true" type="q9:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insert_update_floor_profileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_insert_update_floor_profileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Floor_Category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Floor_CategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Floor_CategoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Floors_PM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locmdl" nillable="true" type="q10:LocationsModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Floors_PMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Floors_PMResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Spaces_PM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locmdl" nillable="true" type="q11:LocationsModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Spaces_PMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Spaces_PMResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SpaceProfile_byID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q12:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_SpaceProfile_byIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_SpaceProfile_byIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_omniclass_type_for_category">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q13:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_omniclass_type_for_categoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_omniclass_type_for_categoryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Floors_by_FacilityID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q14:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Floors_by_FacilityIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Floors_by_FacilityIDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Space_documents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q15:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Space_documentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_Space_documentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_document_type">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_document_typeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_document_typeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_stages">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_stagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_stagesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_approval_by">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_approval_byResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_approval_byResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insert_update_space_profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locobj_mdl" nillable="true" type="q16:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insert_update_space_profileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_insert_update_space_profileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Zone_Profile_by_ID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q17:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Zone_Profile_by_IDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Zone_Profile_by_IDResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insert_update_zone_profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q18:LocationsModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_insert_update_zone_profileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_insert_update_zone_profileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_spaces_for_zone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locobj_mdl" nillable="true" type="q19:LocationsModel" />
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_spaces_for_zoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_spaces_for_zoneResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assign_spaces_for_zone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locobj_mdl" nillable="true" type="q20:LocationsModel" />
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assign_spaces_for_zoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assign_spaces_for_zoneResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_Zone">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EcoDomus.Locations" minOccurs="0" name="locObj_mdl" nillable="true" type="q21:LocationsModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_ZoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>