EcoDomusPM/App_WebReferences/COBieImportService/Import_wcfServicelibrary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Import_wcfServicelibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Import_wcfServicelibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="COBieDBModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="Excelfile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="clientid" type="ser:guid" />
      <xs:element minOccurs="0" name="documentcontents" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="file_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filepath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="filesize" type="xs:long" />
      <xs:element minOccurs="0" name="project_id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uploaded_fileid" type="ser:guid" />
      <xs:element minOccurs="0" name="userid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="COBieDBModel" nillable="true" type="tns:COBieDBModel" />
</xs:schema>