EcoDomusPM/App_WebReferences/UserControl/UserControl.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserControl" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/UserControl.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/UserControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/UserControl.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcoDomus.UserControl" />
      <xsd:import schemaLocation="http://localhost:4444/Client WCF/UserControl.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserControl_GetUsersByClientId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByClientId" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetUsersByClientId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUsersByClientIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetFacilities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFacilities" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetFacilities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFacilitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetSpaces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpaces" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetSpaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetSpacesforProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesforProject" />
  </wsdl:message>
  <wsdl:message name="IUserControl_GetSpacesforProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSpacesforProjectResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserControl">
    <wsdl:operation name="GetUsersByClientId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserControl/GetUsersByClientId" message="tns:IUserControl_GetUsersByClientId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserControl/GetUsersByClientIdResponse" message="tns:IUserControl_GetUsersByClientId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFacilities">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserControl/GetFacilities" message="tns:IUserControl_GetFacilities_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserControl/GetFacilitiesResponse" message="tns:IUserControl_GetFacilities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpaces">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserControl/GetSpaces" message="tns:IUserControl_GetSpaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserControl/GetSpacesResponse" message="tns:IUserControl_GetSpaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSpacesforProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserControl/GetSpacesforProject" message="tns:IUserControl_GetSpacesforProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserControl/GetSpacesforProjectResponse" message="tns:IUserControl_GetSpacesforProject_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserControl" type="tns:IUserControl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetUsersByClientId">
      <soap:operation soapAction="http://tempuri.org/IUserControl/GetUsersByClientId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacilities">
      <soap:operation soapAction="http://tempuri.org/IUserControl/GetFacilities" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpaces">
      <soap:operation soapAction="http://tempuri.org/IUserControl/GetSpaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpacesforProject">
      <soap:operation soapAction="http://tempuri.org/IUserControl/GetSpacesforProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserControl">
    <wsdl:port name="BasicHttpBinding_IUserControl" binding="tns:BasicHttpBinding_IUserControl">
      <soap:address location="http://localhost:4444/Client%20WCF/UserControl.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>