EcoDomusPM/App_WebReferences/UserControl/UserControl.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/EcoDomus.UserControl" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EcoDomus.UserControl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/UserControl.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="UserControlModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="Organization_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Systemrole" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Txt_search" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserControlModel" nillable="true" type="tns:UserControlModel" />
</xs:schema>