EcoDomusPM/App_WebReferences/Asset/Asset5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.ViewModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/Asset.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfSystemViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SystemViewModel" nillable="true" type="tns:SystemViewModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSystemViewModel" nillable="true" type="tns:ArrayOfSystemViewModel" />
  <xs:complexType name="SystemViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="IsMain" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SystemViewModel" nillable="true" type="tns:SystemViewModel" />
</xs:schema>