EcoDomusPM/App_WebReferences/Asset/Asset10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PagingOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="PageSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagingOptions" nillable="true" type="tns:PagingOptions" />
</xs:schema>