EcoDomusPM/App_WebReferences/Asset/Asset43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://devservices.ecodomus.com/ClientPM/Asset.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" />
  <xs:import schemaLocation="http://devservices.ecodomus.com/ClientPM/Asset.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Update_Asset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q1:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_Update_AssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_Update_AssetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AssetProfile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q2:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_AssetProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_AssetProfileResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q3:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssetTypesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Getentityforfindasset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetentityforfindassetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetentityforfindassetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q4:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_AssetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_AssetsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLocations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q5:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssetLocationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAssetLocationsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_Asset">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q6:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delete_AssetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delete_AssetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets_for_entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q7:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets_for_entityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_Assets_for_entityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets_for_space">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q8:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets_for_spaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_Assets_for_spaceResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_systems_for_facility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q9:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_systems_for_facilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_systems_for_facilityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assign_systems_to_asset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q10:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="assign_systems_to_assetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_systems_for_asset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q11:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_systems_for_assetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_systems_for_assetResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_customised_left_menu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q12:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_customised_left_menuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_customised_left_menuResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Assign_Assets_for_entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q13:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Assign_Assets_for_entityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAssign_Assets_for_entity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q14:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAssign_Assets_for_entityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAssign_system_for_asset">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q15:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnAssign_system_for_assetResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Entity_For_Impact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Entity_For_ImpactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Entity_For_ImpactResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_impact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q16:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_impactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_impactResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_rows_for_impact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q17:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_rows_for_impactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_rows_for_impactResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_impact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q18:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Insert_impactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Insert_impactResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_impact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q19:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete_impactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_impact_for_edit">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q20:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_impact_for_editResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_impact_for_editResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComponentNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q21:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComponentNamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateComponentNamesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubAssembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q22:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubAssemblyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSubAssemblyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnassignSubAssembly">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q23:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUnassignSubAssemblyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetUnassignSubAssemblyResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignSubAssemblyToComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q24:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssignSubAssemblyToComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AssignSubAssemblyToComponentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignSubAssemblyFromComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q25:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnassignSubAssemblyFromComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnassignSubAssemblyFromComponentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumetsForComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q26:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumetsForComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumetsForComponentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentsForBulkUpload">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q27:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComponentsForBulkUploadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetComponentsForBulkUploadResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleAssetByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="facilityId" type="q28:guid" />
        <xs:element minOccurs="0" name="connectionString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSingleAssetByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetSingleAssetByNameResult" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_PMComponents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q30:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_PMComponentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_PMComponentsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefault_facility">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q31:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefault_facilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDefault_facilityResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_systems_for_facility_under_project">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q32:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_systems_for_facility_under_projectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_systems_for_facility_under_projectResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets_for_entity_pm">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q33:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Search_Assets_for_entity_pmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Search_Assets_for_entity_pmResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_rows_for_impact_pm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q34:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_rows_for_impact_pmResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_rows_for_impact_pmResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_clone_component">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="locObj_mdl" nillable="true" type="q35:AssetModel" />
        <xs:element minOccurs="0" name="str_conn" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="create_clone_componentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="create_clone_componentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Component_Count">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q36:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Component_CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Component_CountResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_get_components_print_barcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q37:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_get_components_print_barcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_get_components_print_barcodeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proc_get_barcode_structure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q38:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Proc_get_barcode_structureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Proc_get_barcode_structureResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_get_barcode_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ds_barcode" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_get_barcode_infoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_get_barcode_infoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_get_components_energyplus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="conObj_mdl" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/EcoDomus.Asset" minOccurs="0" name="assetObj_mdl" nillable="true" type="q39:AssetModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="proc_get_components_energyplusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="proc_get_components_energyplusResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>