EcoDomusPM/App_WebReferences/AttributeTemplate/AttributeTemplate1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Client.App.Dtos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Client.App.Dtos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/AttributeTemplate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:4444/Client WCF/AttributeTemplate.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/EcoDomus.UnitUtils" />
  <xs:complexType name="EntityAttributeValueDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttributeId" type="ser:guid" />
      <xs:element minOccurs="0" name="AttributeValueId" type="ser:guid" />
      <xs:element minOccurs="0" name="DateTimeValue" nillable="true" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EcoDomus.UnitUtils" minOccurs="0" name="DisplayUnitType" nillable="true" type="q1:DisplayUnitType" />
      <xs:element minOccurs="0" name="DoubleValue" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="FkStageId" type="ser:guid" />
      <xs:element minOccurs="0" name="IntegerValue" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EntityAttributeValueDto" nillable="true" type="tns:EntityAttributeValueDto" />
</xs:schema>