EcoDomusPM/App_WebReferences/Roles/Roles1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:4444/Client WCF/Roles.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="RolesModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Culture" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Entity_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fk_project_id" type="ser:guid" />
      <xs:element minOccurs="0" name="PageName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Project_RoleId" type="ser:guid" />
      <xs:element minOccurs="0" name="Project_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Project_role_controls_id" type="ser:guid" />
      <xs:element minOccurs="0" name="Role_Desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Role_Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="System_role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserIds" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User_Id" type="ser:guid" />
      <xs:element minOccurs="0" name="existsflag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolesModel" nillable="true" type="tns:RolesModel" />
</xs:schema>